name: Build and Push Microservices

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    strategy:
      # === DevOps Magic: Матрица ===
      # Этот блок запустит job 3 раза параллельно
      matrix:
        service: [collector, processor, publisher]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ${{ matrix.service }}
        uses: docker/build-push-action@v5
        with:
          # Контекст всегда корень, чтобы видеть папку src/
          context: .
          # А вот Dockerfile берем динамически из матрицы
          file: src/${{ matrix.service }}/Dockerfile
          push: true
          # Теги тоже динамические
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/content-factory-${{ matrix.service }}:latest
            ${{ secrets.DOCKER_USERNAME }}/content-factory-${{ matrix.service }}:${{ github.sha }}
          # Используем кэширование, чтобы сборка летала
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/content-factory-${{ matrix.service }}:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/content-factory-${{ matrix.service }}:buildcache,mode=max